{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/home.css',null) }}">{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">

        <div class="row">
            <div class="col-lg-6 vendeur">
                <h2 class="bcbg">Les Derniers vendeurs</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Ville</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}

                        <tr>
                            <td>{{ property.lenom }}</td>
                            <td>{{ property.description }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h2>Les derniers Biens</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                    <tr>
                        <td>{{ property.city }}</td>
                        <td>{{ property.price }} Francs CFA</td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>Last Introduced</h2>
                <table class="table-bordered table">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Surface</th>
                        <th>Pieces</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                        <tr>
                            <td><a href="{{path('property.show',{slug: property.slug, id: property.id})}}">{{ property.title }}</a></td>
                            <td>{{ property.surface }} m<sup>2</sup></td>
                            <td>{{ property.rooms }} Chambres</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dicta exercitationem hic illum
            repellat reprehenderit sunt voluptatem. Aliquam beatae eligendi magni minima, natus necessitatibus
            perspiciatis quam quasi reiciendis sint sit!
        </div>
        <div>Id iusto maiores unde. Accusantium atque beatae distinctio dolore dolorum eaque eum ex iure laudantium,
            libero minus mollitia nobis quam quia quibusdam quos ratione rem similique soluta suscipit ut voluptate?
        </div>
        <div>A amet aspernatur blanditiis commodi consequatur distinctio dolor ea est fugit illum impedit iusto
            laudantium nam numquam officiis quas qui quia quo ratione, rem repudiandae tempora vel voluptas voluptate
            voluptatem!
        </div>
        <div>Doloribus exercitationem itaque odio reiciendis. Accusamus aliquam, aperiam asperiores beatae consequuntur
            cumque cupiditate deleniti dolores harum id ipsa minima molestias, nobis nulla numquam officia optio quas
            qui quis quos totam?
        </div>
        <div>Accusamus dignissimos, ea facere iure laudantium mollitia nam repudiandae similique unde voluptatum.
            Dolorum eius error natus nostrum totam voluptatum. Dolorem doloremque eius eligendi et explicabo minima
            molestias, non odio sint.
        </div>
        <div>Ad alias amet aspernatur aut cupiditate dolorum ex explicabo laudantium, libero maiores minus praesentium
            quasi qui reprehenderit voluptatum. Architecto atque blanditiis cumque dolor fugiat, pariatur quam quas
            veritatis vero voluptas?
        </div>
        <div>A alias consequuntur doloremque facilis ipsam maxime omnis, porro provident sed sequi sint velit.
            Architecto delectus dolor ea eius eos eveniet iusto labore laborum laudantium minus nihil nobis, quod velit?
        </div>
        <div>Eius quod, quos. A accusamus aut consectetur dolorum esse fuga, hic, ipsa laboriosam maxime minus nam
            nostrum optio praesentium quae quam quos sed sint ullam veritatis voluptates! Corporis, dignissimos, sit!
        </div>
        <div>Alias aliquid animi architecto consequatur consequuntur culpa doloremque eos et facilis harum labore
            libero, maxime mollitia nulla numquam, officia praesentium quae quisquam repudiandae rerum saepe sunt
            tempore unde velit voluptatibus?
        </div>


    </div>
    {#   #}
{% endblock %}